<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LOG_PATH" value="C:\Users\ehfp\Projects\TrainOptimization\"/>
    <!-- <add key="INPUT_FILE_1" value="C:\Users\ehfp\Projects\TrainOptimization\Input\small_8_15_10\railway_892.xml" />  -->
    <add key="INPUT_FILE_1" value="C:\Users\ehfp\Projects\TrainOptimization\Input\railway_303_4.xml" />
<!--    <add key="INPUT_FILE_1" value="C:\Users\eggo\Projetos\TrainOptimization\Input\railway_112.xml" /> -->
    <add key="INPUT_FILE_2" value="C:\Users\ehfp\Projects\TrainOptimization\Input\railway_887.xml"/>
    <add key="INPUT_FILE_3" value="C:\Users\ehfp\Projects\TrainOptimization\Input\railway_67.xml"/>
    <add key="INPUT_FILE_4" value="C:\Users\ehfp\Projects\TrainOptimization\Input\railway_830.xml"/>
    <add key="INPUT_FILE_5" value="C:\Users\ehfp\Projects\TrainOptimization\Input\railway_979.xml"/>
<!--    
    <add key="INPUT_FILE_1" value="C:\Users\eggo\Projetos\TrainOptimization\Input\railway_112.xml" />
    <add key="INPUT_FILE_2" value="C:\Users\ehfp\Projects\TrainOptimization\Input\railway_21.xml"/>
    <add key="INPUT_FILE_3" value="C:\Users\ehfp\Projects\TrainOptimization\Input\railway_211.xml"/>
    <add key="INPUT_FILE_4" value="C:\Users\ehfp\Projects\TrainOptimization\Input\railway_351.xml"/>
    <add key="INPUT_FILE_5" value="C:\Users\ehfp\Projects\TrainOptimization\Input\railway_357.xml"/>
-->    
    
    <add key="INPUT_MODE" value="db"/> <!-- (db, xml) -->
    <add key="OPT_MODE" value="ga"/> <!-- (bnb, multstart, ga, grasp, rlns) -->
    <add key="SELECTION_MODE" value="tournament"/> <!-- (tournament, roulette) -->
    <add key="SELECTION_COUNT" value="3"/>
    <add key="LS_STRATEGY" value="gds"/> <!-- (pth, gds, best) -->
    <add key="THRESHOLD" value="0,4"/>
    <add key="MAX_PARALLEL_THREADS" value="1"/>
    <add key="LOG_FILE_NAME" value="trainoptimizer"/>
    <add key="SLEEP_TIME" value="5000"/>
    <add key="MAX_OBJECTIVE_FUNCTION_CALL" value="100000"/>
<!--    <add key="MAX_OBJECTIVE_FUNCTION_CALL" value="2100000000"/> -->
    <add key="FUNCTION_CALL_REG" value="100"/>
    <add key="OBJECTIVE_FUNCTION_TYPE" value="TT"/> <!-- (TT, THP) -->
    <add key="POPULATION_SIZE" value="100"/>
    <add key="MUTATION_RATE" value="10"/>
    <add key="MAX_MUTATION_STEPS" value="0,10"/>
    <add key="MIN_MUTATION_STEPS" value="0,01"/>
    <add key="MAX_GENERATIONS" value="250"/>
    <add key="CROSSOVER_POINTS" value="1"/>
    <add key="MIN_CROSSOVER_POINTS" value="2"/>
    <add key="MAX_CROSSOVER_POINTS" value="10"/>
    <add key="LS_FACTOR" value="0,025"/>
    <add key="LS_IMPROVEMENT" value="0,001"/>
    <add key="ECS" value="true"/>
    <add key="ECS_CLUSTERS" value="10"/>
    <add key="ECS_CLUSTER_ELITE" value="0,3"/>
    <add key="ECS_CLUSTERS_MAX_AGE" value="3"/>
    <add key="ECS_JOIN_CLOSER_CLUSTER" value="true"/>
    <add key="ECS_FADE_FACTOR" value="0,75"/>
    <add key="ECS_MAX_FACTOR" value="2,0"/>
    <add key="ECS_MIN_FACTOR" value="0,5"/>
    <add key="ECS_REMOVE_FACTOR" value="0,0025"/>
    <add key="ECS_ANALYZER_MODULE_WAKEUP" value="5"/>
    <add key="ECS_ONLY_HEATED" value="true"/>
    <add key="ECS_ASSIMILATION_MODE" value="fitness"/> <!-- (fitness, distance) -->
    
    <!--
    <add key="INITIAL_DATE" value="2016/06/07"/>
    <add key="FINAL_DATE" value="2016/06/07 12:00:00"/> 
    -->
    
    <add key="DefaultCulture" value="pt-BR" />
    <add key="LIMIT_DAYTIME" value="60"/>
    <add key="TRAIN_LEN" value="345000"/>
    <add key="MIN_MOV_SPEED_LIMIT" value="15"/>
    <add key="ALLOW_NO_DESTINATION_TRAIN" value="false"/>
    <add key="TRAIN_TYPE_ALLOWED" value=""/>
    <add key="VMA" value="80"/>
    <add key="REDUCTION_SPEED_FACTOR" value="0,75"/>
    <add key="MAX_DEAD_LOCK_ERROR" value="250"/>
    <add key="STRATEGY_FACTOR" value="3"/>
    <add key="NICHE_DISTANCE" value="0,00"/>
    <add key="DEBUG_LOG_ENABLE" value="false"/>
    <add key="USE_DB_PERF_DATA" value="true"/>
    <add key="ALLOW_INERTIA" value="true"/>
    <!-- <add key="TRAIN_PRIORITY" value="P:1:10|P:-1:10"/> -->
    <add key="TRAIN_PRIORITY" value=""/>
    <add key="RAILWAY_BRANCH" value="Carajas"/>
    <add key="LOAD_STOP_LOCATIONS" value="xml"/> <!-- (db, xml) => file: stoplocations.xml -->
    <add key="M_TYPE" value="blue"/>
    <add key="C_TYPE" value="maroon"/>
    <add key="V_TYPE" value="maroon"/>
    <add key="T_TYPE" value="maroon"/>
    <add key="L_TYPE" value="maroon"/>
    <add key="A_TYPE" value="green"/>
    <add key="R_TYPE" value="green"/>
    <add key="J_TYPE" value="purple"/>
    <add key="P_TYPE" value="red"/>
    <add key="ALLOW_DEADLOCK_INDIVIDUAL" value="false"/>
    <add key="NUM_SAVED_INDIVIDUALS" value="0"/>    
    <add key="TEST_COUNT" value="30"/>
  </appSettings>

  <connectionStrings>
    <add name="MYCONN" connectionString="server=192.168.13.124;uid=sgfusr;database=bdsgf;password=sgfpwd;Convert Zero DateTime=True" providerName="MySql.Data.MySqlClient"/>
    <add name="USERMYCONN" connectionString="server=localhost;uid=myuser;database=bduser;password=mypassword;Convert Zero DateTime=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <!--
  <startup> 
        <supportedRuntime version="v4.5" sku=".NETFramework,Version=v4.5.2" />
   </startup>
   -->
</configuration>